@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
}


h1 {
  font-family: "Poetsen One", sans-serif;

  color: orange;
  
}
h2 {
  color: orange;
}
h3 {
  color: orange;
}
img {
  border:5px solid #f0cb81;
}
body {
  background-color: aliceblue;}